<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="profile" class="navbar-brand h1">App Center</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <div class="nav-item">
        <div href="#" class="nav-link">My Apps</div>
      </div>
      <div class="nav-item">
        <div href="#" class="nav-link">Search</div>
      </div>
      <div class="nav-item">
        <div href="#" class="nav-link">Security</div>
      </div>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
